.body{
  background-color:white;
  font:sans-serif;
  font-style:black;

};
.tour-name{
  font:sans-serif;
  font-size: 30px;


};
.tour-price{
  font:sans-serif;
  font-size:30px;
};

.tourinfo{
  font:sans-serif;
  font-size:20px;
}
.button{
  cursor:pointer;
  color:black;
};
